.DS_Store
Thumbs.db

README.txt

/*.txt
!/robots.txt
/autoload.php
/core
/core/phpcs.xml
/core/phpunit.xml
/example.gitignore
/index.php
/modules/contrib
/sites/*/files
/sites/*/private
/sites/*/*.services*.yml
/sites/*/*.settings*.php
/sites/*/settings*.php
/sites/development*.yml
/sites/example*.php
/sites/simpletest
/themes/contrib
/update.php
/vendor
/web.config
